{% extends 'connexion.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

   <section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <img src="{{asset('images/logo.webp')}}"
                    style="width: 185px;" alt="logo">
                  <h4 class="mt-1 mb-5 pb-1">WELCOME TO PINKIE ACADEMY</h4>
                </div>
                  <p>SVP connectez-vous sur votre compte!!</p>

                  <div class="form-outline mb-4">
                    <input type="email"  name="login" id="validationServer01" class="form-control"
                      placeholder="Phone number or email address"  value="{{ last_username }}"  autocomplete="username" required autofocus/>
                    <label class="form-label" for="validationServer01">Login</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password"  placeholder="Password" name="password" id="form2Example22" class="form-control" required autocomplete="current-password" />
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>
                  <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button type ="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="button">se connecter</button>
                  </div>

                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <img src="images/loginbg.png" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
{% endblock %}
