{% extends 'base.html.twig' %}
{% form_theme formInscription 'bootstrap_5_layout.html.twig' %}

{% block body %}
    {% for message in app.flashes('success') %}
            <div class='alert alert-success'>
                {{ message }}
            </div>
        {% endfor %}
<div class="container mt-5" >
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image">
                       <img src="{{asset('images/register.png')}}" class="img-fluid">
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">
                                
                                  {% if editMode %}
                                        Reinscrire l etudiant {{ inscription.etudiant.nomComplet }}<br><br>
                                        Matricule : {{ inscription.etudiant.matricule }}
                                      
                                    {% else %}
                                          Inscrire un etudiant
                                    {% endif %} 
                                </h1>
                            </div>
                            {{ form_start(formInscription) }}
                         

                                {{ form_row(formInscription.etudiant.nomComplet,{'attr':{'placeholder': "nom complet de l etudiant" }}) }}
                                {{ form_row(formInscription.etudiant.sexe,{'attr':{'placeholder': "sexe de l etudiant"}}) }}
                                {{ form_row(formInscription.etudiant.adresse,{'attr':{'placeholder': "adresse de l etudiant"}}) }}
                               {{ form_row(formInscription.classe,{'attr':{'placeholder': "adresse de l etudiant"}}) }}
                                <button  type="submit" class="btn btn-success">Ajouter</button>
                            {{ form_end(formInscription)  }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}