{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br><br>
<div class="container ml-5">
    <h2 align="center">LISTE DES MODULES</h2><br>
    
      {{ form_start(formModule) }}
      <div class="row">
          <div class="col">
              {{ form_row(formModule.libelle,{'attr':{'placeholder': "libelle de la module",'class':"form-control form-control-lg w-50"}}) }}
          <div>
          <div class="col">
            <button type="submit" class="btn btn-primary">VALIDER</button>
          </div>
      </div>
      {{ form_end(formModule)  }}
 
    <br>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Libelle</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for module in modules %}
            
        <tr>
           <td>{{module.id}}</td>
          <td>{{module.libelle}}</td>
          <td>
           
            <a href="{{path('app_delete_module',{"id" : module.id})}}" class="btn btn-danger btn-circle" onclick="return confirm('Etes-vous sure de vouloir supprimer?')">
              <i class="fas fa-trash"></i>
            </a>
            <a href="{{path('app_detail_module',{"id" : module.id})}}" class="btn btn-info btn-circle">
              <i class="fas fa-info"></i>
            </a>
          </td>
        </tr>
        {% endfor %} 
      </tbody>
    </table>
    <div class="d-flex flex-end">
    {% do modules.setPageRange(10) %}
    {{knp_pagination_render(modules,'pagination.html.twig')}}
    </div>
</div>
{% endblock %}
