  <!-- Navbar -->
            <nav  style="border-radius: 20px; border-color:pink; box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; " class="navbar navbar-expand-lg navbar-light bg-light">
            <!-- Container wrapper -->
            <div class="container-fluid">
                <!-- Toggle button -->
                <button
                class="navbar-toggler"
                type="button"
                data-mdb-toggle="collapse"
                data-mdb-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- Navbar brand -->
                <a class="navbar-brand mt-2 mt-lg-0" href="{{ path('app_accueil') }}">
                    <img
                    src="{{asset('images/logo.webp')}}"
                    height="120"
                    alt="MDB Logo"
                    loading="lazy"
                    />
                </a>
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                   
                    {% if is_granted('ROLE_RP') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_classe') }}"><b><i class="fa-solid fa-bars-progress"></i>GESTION DES CLASSES</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_module') }}"><b><i class="fa-solid fa-bars-progress"></i>GESTION DES MODULES</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_professeur') }}"><i class="fa-solid fa-bars-progress"></i><b>GESTION DES PROFESSEURS</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_demande') }}"><i class="fa-solid fa-bars-progress"></i><b>GESTION DES DEMANDES</b></a>
                        </li>
                    {% endif %}
                     {% if is_granted('ROLE_AC') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_inscription') }}"><i class="fa-solid fa-bars-progress"></i><b>GESTION DES INSCRIPTIONS</b></a>
                        </li>
                    {% endif %}
                   {% if is_granted('ROLE_ETUDIANT') %}
                    
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_demande_etu') }}"><i class="fa-solid fa-bars-progress"></i><b>LISTE DE MES DEMANDES</b></a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_create_demande') }}"><i class="fa-solid fa-bars-progress"></i><b>FAIRE UNE DEMANDE</b></a>
                    </li>

                    {% endif %}

               
                </ul>
                <!-- Left links -->
                </div>
                <!-- Collapsible wrapper -->

                <!-- Right elements -->
                <div class="d-flex align-items-center">
                <!-- Icon -->
              

                <!-- Notifications -->
                
                <!-- Avatar -->
                <a href="{{ path('app_logout') }}">
                    <button type="button" class="btn btn-primary">Deconnexion</button>
                </a>
               
                </div>
                <!-- Right elements -->
            </div>
            <!-- Container wrapper -->
            </nav>
            <!-- Navbar -->